/.idea/*
/target/
/.vscode
# misc
.DS_Store
*bak
.vscode
# visual studio code
.history
*.log
.temp/**
# screenshot
.firebase
.eslintcache
*.iml
target/
mvnw
*.cmd
rebel.xml
jrebel-classpath*.jar
*.lck

